<div class="column-align center" style="padding: 25px;">
    <span>Buses Traffic Congestion Map of Shenzhen China within 24 hours</span>
    <img [src]="'/assets/bus/bus' + selected + '.png'" style="height: 80%; width: 80%;">
    <div class="action-bar row-align" style="align-items: center; width: 100%;">
        <div style="padding-right: 15px; white-space: nowrap;">Hour {{selected}}</div>
        <mat-slider style="width: calc(100% - 15px);" max="23" min="0" step="1" tickInterval="1" thumbLabel="true"
            [(ngModel)]="selected" (input)="selected = $event.value">
        </mat-slider>
    </div>
</div>