<div class="container">
    <mat-tab-group [selectedIndex]="0">
        <mat-tab label="Electric Taxis">
            <etaxi-comp></etaxi-comp>
        </mat-tab>
        <mat-tab label="Buses">
            <bus-comp></bus-comp>
        </mat-tab>
        <mat-tab label="Smartcard Transaction (Subway)">
            <iframe src="/assets/subway/subway.pdf" class="frame"></iframe>
        </mat-tab>
        <mat-tab label="Smartcard Transaction (Buses)">
            <iframe src="/assets/subway/bus.pdf" class="frame"></iframe>
        </mat-tab>
        <mat-tab label="SIM Card Acitivity">
            <sim-comp></sim-comp>
        </mat-tab>
    </mat-tab-group>


</div>